.nav-header {
  box-shadow: 0px 10px 10px -15px #111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.logo-heading {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 33px;
  cursor: pointer;
  align-self: center;
}

@media screen and (max-width: 576px) {
  .logo-heading {
    font-size: 25px;
  }
}

.my-orders-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #585555;
  align-self: center;
}

.orders-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
}

.cart-icon-container {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  align-self: flex-start;
  margin-left: 10px;
}

.cart-icon {
  width: 30px;
  height: 30px;
  align-self: center;
}

.cart-count {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  border: 0px;
  outline: none;
  color: white;
  align-content: center;
  text-align: center;
}

@media (max-width: 420px) {
  .my-orders-text {
    display: none;
  }
}
